.main
	.header
		%pre
			= render 'layouts/messages'
	- if @name.nil?
		.header
			- if @type == Blog::BLOG_MYSOL && @blogs.count != 0
				= link_to 'Edit MySol', edit_blog_path(@blogs.first, type: Blog::BLOG_MYSOL), class: "pull-left btn btn-success"
			- else
				= link_to 'Add new blog', new_blog_path(type: @type), class: "pull-left btn btn-success"
		%div
			%table#blog_edit_table.table{:align=> 'center'}
				%thead
					%td{:width=>'15%'} Title
					%td{:width=>'28%'} Body
					%td{:width=>'15%'} Picture
					%td{:width=>'15%'} Created At
					%td{:width=>'20%'} Actions
				%tbody
					- if !@blogs.nil? && @blogs.length > 0
						- @blogs.each do |blog|
							%tr
								%td= blog.title
								%td= raw blog.body[0..100]
								%td= image_tag blog.picture.url(:thumb)
								%td= blog.created_at.strftime "%D"
								%td
									= link_to 'Edit', edit_blog_path(blog, type: @type), class: "btn btn-primary btn-xs"
									- if @type == Blog::BLOG_MYSOL
										= link_to 'Show', mysol_path, class: "btn btn-primary btn-xs"
									- else
										= link_to 'Show', blog_path(blog, type: @type), class: "btn btn-primary btn-xs"
									- unless @type == Blog::BLOG_MYSOL
										= link_to 'Delete', blog_path(blog, type: Blog::BLOG_MAIN), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"
					- else
						%tr
							%td{colspan: 5}
								%h3
									There's no blogs yet. Add 
									= link_to 'new blog', new_blog_path(type: @type)
									here.
	- else
		%h2 Main Blogs
		.header
			= link_to 'Add New Blog', new_blog_path(type: @type, name: @name, category: true), class: "pull-left btn btn-success"
		%table#blog_edit_table.table{:align=> 'center'}
			%thead
				%td{:width=>'15%'} Title
				%td{:width=>'28%'} Body
				%td{:width=>'15%'} Picture
				%td{:width=>'15%'} Created At
				%td{:width=>'20%'} Actions
			%tbody
				- if @destination.length > 0
					- @destination.each do |blog|
						%tr
							%td= blog.title
							%td= raw blog.body[0..100]
							%td= image_tag blog.picture.url(:thumb)
							%td= blog.created_at.strftime "%D"
							%td
								= link_to 'Edit', edit_blog_path(blog, type: @type, name: @name, category: true), class: "btn btn-primary btn-xs"
								= link_to 'Show', destination_path(name: @name), class: "btn btn-primary btn-xs"
								= link_to 'Delete', blog_path(blog, type: @type, name: @name, category: true), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"
				- else
					%tr
						%td{colspan: 5}
							%h3
								There's no blogs yet. Add 
								= link_to 'new blog', new_blog_path(type: @type, name: @name, category: true)
								here.
		
		%br
		%br
		%h2 Select Top Rated Blogs
		%br
		= form_tag select_top_path(type: @type, name: @name, category: true), method: :put do
			= submit_tag "Save", class: "pull-left btn btn-success"
			%table#blog_edit_table.table{:align=> 'center'}
				%thead
					%td{:width=>'5%'} Top
					%td{:width=>'15%'} Title
					%td{:width=>'35%'} Body
					%td{:width=>'15%'} Type
					%td{:width=>'25%'} Created At
				%tbody
					- if @location.sub_blogs.length > 0
						- @location.sub_blogs.each do |blog|
							%tr
								%td= check_box_tag "featured[]", blog.id, blog.featured
								%td= blog.title
								%td= raw blog.body[0..100]
								%td= blog.blog_type
								%td= blog.created_at.strftime "%D"
		
		%br
		%br	
		%h2 Blogs for Eat
		%br
		.header
			= link_to 'Add New Blog', new_blog_path(type: Blog::BLOG_EAT, name: @name, category: false), class: "btn btn-success pull-left"
		%table#blog_edit_table.table{:align=> 'center'}
			%thead
				%td{:width=>'15%'} Title
				%td{:width=>'28%'} Body
				%td{:width=>'15%'} Picture
				%td{:width=>'15%'} Created At
				%td{:width=>'20%'} Actions
			%tbody
				- if @location.blogs.eat.length > 0
					- @location.blogs.eat.each do |blog|
						%tr
							%td= blog.title
							%td= raw blog.body[0..100]
							%td= image_tag blog.picture.url(:thumb)
							%td= blog.created_at.strftime "%D"
							%td
								= link_to 'Edit', edit_blog_path(blog, type: Blog::BLOG_EAT, name: @name, category: false), class: "btn btn-primary btn-xs"
								= link_to 'Show', destination_path(name: @name), class: "btn btn-primary btn-xs"
								= link_to 'Delete', blog_path(blog, type: Blog::BLOG_EAT, name: @name, category: @category), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"
				- else
					%tr
						%td{colspan: 5}
							%h3
								There's no blogs yet. Add 
								= link_to 'new blog', new_blog_path(type: Blog::BLOG_EAT, name: @name, category: false)
								here.

		%br
		%br
		%h2 Blogs for Stay
		.header
			= link_to 'Add New Blog', new_blog_path(type: Blog::BLOG_STAY, name: @name, category: false), class: "btn btn-success pull-left"
		%table#blog_edit_table.table{:align=> 'center'}
			%thead
				%td{:width=>'15%'} Title
				%td{:width=>'28%'} Body
				%td{:width=>'15%'} Picture
				%td{:width=>'15%'} Created At
				%td{:width=>'20%'} Actions
			%tbody
				- if @location.blogs.stay.length > 0
					- @location.blogs.stay.each do |blog|
						%tr
							%td= blog.title
							%td= raw blog.body[0..100]
							%td= image_tag blog.picture.url(:thumb)
							%td= blog.created_at.strftime "%D"
							%td
								= link_to 'Edit', edit_blog_path(blog, type: Blog::BLOG_STAY, name: @name, category: false), class: "btn btn-primary btn-xs"
								= link_to 'Show', destination_path(name: @name), class: "btn btn-primary btn-xs"
								= link_to 'Delete', blog_path(blog, type: Blog::BLOG_STAY, name: @name, category: @category), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"
				- else
					%tr
						%td{colspan: 5}
							%h3
								There's no blogs yet. Add 
								= link_to 'new blog', new_blog_path(type: Blog::BLOG_STAY, name: @name, category: false)
								here.

		%br
		%br
		%h2 Blogs for Play
		.header
			= link_to 'Add New Blog', new_blog_path(type: Blog::BLOG_PLAY, name: @name, category: false), class: "btn btn-success pull-left"
		%table#blog_edit_table.table{:align=> 'center'}
			%thead
				%td{:width=>'15%'} Title
				%td{:width=>'28%'} Body
				%td{:width=>'15%'} Picture
				%td{:width=>'15%'} Created At
				%td{:width=>'20%'} Actions
			%tbody
				- if @location.blogs.play.length > 0
					- @location.blogs.play.each do |blog|
						%tr
							%td= blog.title
							%td= raw blog.body[0..100]
							%td= image_tag blog.picture.url(:thumb)
							%td= blog.created_at.strftime "%D"
							%td
								= link_to 'Edit', edit_blog_path(blog, type: Blog::BLOG_PLAY, name: @name, category: false), class: "btn btn-primary btn-xs"
								= link_to 'Show', destination_path(name: @name), class: "btn btn-primary btn-xs"
								= link_to 'Delete', blog_path(blog, type: Blog::BLOG_PLAY, name: @name, category: @category), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"
				- else
					%tr
						%td{colspan: 5}
							%h3
								There's no blogs yet. Add 
								= link_to 'new blog', new_blog_path(type: Blog::BLOG_PLAY, name: @name, category: false)
								here.

		%br
		%br
		%h2 Location Photos
		.row
			- @location.all_photos.each do |p|
				.col-md-3.col-sm-4.col-xs.6{:align=> 'center'}
					= image_tag p.picture.url(:thumb)
					= link_to 'Delete Photo', photo_path(p, name: @name, category: false), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-primary btn-xs"

		= form_for :photo, url: photos_path(name: @name, category: false), method: :post, multipart: true do |f|
			= f.label :title
			= f.text_field :title
			= f.label :url
			= f.text_field :url
			= f.label :picture
			= f.file_field :picture
			= f.hidden_field :location_id, value: @location.id
			= f.hidden_field :landing, value: false

			= f.submit
		%br
		%br