<div class="main">
    <div class="header">
        <%= image_tag @photo, class: "blog_big_img", title: @photo %>
    </div>
    <div class="submenu">
        <div style="float:left;width:15%;"><hr/></div>
        <div style="float:left;width:14%;" class="submenu_title">eat</div>
        <div style="float:left;width:14%;"><hr/></div>
        <div style="float:left;width:14%;" class="submenu_title">play</div>
        <div style="float:left;width:14%;"><hr/></div>
        <div style="float:left;width:14%;" class="submenu_title">stay</div>
        <div style="float:left;width:15%;"><hr/></div>
        <div style="clear: both;"></div>
    </div>

    <div id="eat_blog_div" class="sol_blog_section">
        <div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="float:left;width:20%;" class="sol_blog_title">STORY</div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="clear: both;"></div>
        </div>
        <br />
        <div class="sol_blog_main">
            <br />
            <% unless @destination.nil? %>
                <div>
                    <%= image_tag @destination.picture.url, class: "blog_mid_img" %>
                </div>
                <div class="blog_title">
                    <%= @destination.title %>
                </div>
                <div class="blog_content">
                    <%= raw @destination.body %>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="float:left;width:20%;" class="sol_blog_title">TOP 5</div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div>
        <div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="float:left;width:20%;" class="sol_blog_title">PHOTOS</div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="clear: both;"></div>
        </div>   
    </div>

    <div id="eat_blog_div">
        <div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="float:left;width:20%;" class="sol_blog_title">EAT</div>
            <div style="float:left;width:40%;"><hr/><hr/></div>
            <div style="clear: both;"></div>
        </div>
        <div class="travel_blog">
            <div style="float: left; width: 60%;">
                <%= image_tag "italian-riviera-cinque-terre.jpg", class: "blog_small_img" %>
            </div>
            <div class="travel_blog_content" style="width: 37%;">
                <div class="travel_blog_title">1. Week in Paris</div>
                <div style="text-align: left;">
                    Sample JavaScript Menus
                    kmserv.com/testbed/menu/menu.html
                    Dynamic HTML Menus -- Using The JavaScript Menu Component. The purpose of this page is to provide sample menus illustrating the various ... Let's summarize the three basic steps it takes to quickly add a dynamic menu to your web page:.
                    CSS Javascript Menu - Samples - Deluxe Menu
                    deluxe-menu.com/css-mode-sample.html
                    (c) 2011, Deluxe-Menu.com .... Style Sheets (CSS). View data-file of this sample · View css-file of this sample ... Simple Dark Menu. Blue-Orange Menu.
                    Simple JavaScript Drop Down Menu with timeout effect v2.0 ...
                    Sample JavaScript Menus
                    kmserv.com/testbed/menu/menu.html
                    Dynamic HTML Menus -- Using The JavaScript Menu Component. The purpose of this page is to provide sample menus illustrating the various ... Let's summarize the three basic steps it takes to quickly add a dynamic menu to your web page:.
                    CSS Javascript Menu - Samples - Deluxe Menu
                    deluxe-menu.com/css-mode-sample.html
                    (c) 2011, Deluxe-Menu.com .... Style Sheets (CSS). View data-file of this sample · View css-file of this sample ... Simple Dark Menu. Blue-Orange Menu.
                    Simple JavaScript Drop Down Menu with timeout effect v2.0 ...
                </div>
            </div>
        </div>
        <hr/>
        <div class="travel_blog">
            <div style="float: left; width: 60%;">
                <%= image_tag "italian-riviera-cinque-terre.jpg", class: "blog_small_img" %>
            </div>
            <div class="travel_blog_content" style="width: 37%;">
                <div class="travel_blog_title">1. Week in Paris</div>
                <div style="text-align: left;">
                    Sample JavaScript Menus
                    kmserv.com/testbed/menu/menu.html
                    Dynamic HTML Menus -- Using The JavaScript Menu Component. The purpose of this page is to provide sample menus illustrating the various ... Let's summarize the three basic steps it takes to quickly add a dynamic menu to your web page:.
                    CSS Javascript Menu - Samples - Deluxe Menu
                    deluxe-menu.com/css-mode-sample.html
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>