<div class="sol_blog">
<div class="col-sm-12">
    <div id="gallery_large" class="image_gallery">
        <ul id="myGallery">
            <% @locations.each do |l| %>
                <li><%= image_tag l.landing_url, title: l.name, id: "#{l.name}", data: {target: "#{destination_url(name: l.name)}"} %></li>
            <% end %>
        </ul>
    </div>
    <div id="gallery_small" class="image_gallery">
        <ul class="bxslider">
            <% @locations.each do |l| %>
                <li>
                    <%= image_tag l.landing_url, title: l.name, data: {target: "#{destination_url(name: l.name)}"} %>
                    $()
                </li>
            <% end %>
        </ul>
    </div>
</div>
<div class="col-sm-12">
    <div class="sol_blog_section">
        <div>
            <div class="pull-left hr_div" style="width:35%;"><hr/><hr/></div>
            <div class="pull-left" style="width:30%;"><h2>SOL BLOG</h2></div>
            <div class="pull-left hr_div" style="width:35%;"><hr/><hr/></div>
            <div style="clear: both;"></div>
        </div>
        <br />
        <div class="sol_blog_main">
            <br />
            <% unless @main_blog.nil? %>
                <div>
                    <%= image_tag @main_blog.picture.url, class: "blog_mid_img" %>
                </div>
                <div class="blog_title">
                    <%= @main_blog.title %>
                </div>
                <div class="blog_content">
                    <%= raw @main_blog.body %>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <div class="sol_blog_section">
            <div class="pull-left hr_div" style="width:35%;"><hr/><hr/></div>
            <div class="pull-left" style="width:30%;"><h2>INSTAGRAMM</h2></div>
            <div class="pull-left hr_div" style="width:35%;"><hr/><hr/></div>
            <div class="pull-left" style="clear: both;"></div>
        </div>
        <br />
        <div id="wrapper">
            <div id="instafeed"></div>
        </div>
    </div>    
    </div>
</div>
</div>