<div class="main" style="text-align:center">
    <h2>SOL BLOG</h2>
        <% @main_blogs.each do |blog| %>
            <div class="blog_section">
                <div class="blog_title">
                    <div class="title_field"><%= blog.title %></div>
                    <div class="date_field"><%=  blog.created_at.strftime "%D" %></div>
                </div>
                <div style="clear:both"></div>
                <div>
                    <%= image_tag blog.picture.url, class: "" %>
                </div>
                <div class="blog_content"><%= raw blog.body %></div>
            </div>
            <hr />
        <% end %>
    <%= will_paginate @main_blogs, renderer: BootstrapPagination::Rails %>
</div>