<div class="main">
    <h2>SOL BLOG</h2>
    <% unless @main_blog.nil? %>
        <div class="blog_section">
            <div class="blog_title">
                <div class="title_field"><%= @main_blog.title %></div>
                <div class="date_field"><%=  @main_blog.created_at.strftime "%D" %></div>
            </div>
            <div style="clear:both"></div>
            <div>
                <%= image_tag @main_blog.picture.url, class: "" %>
            </div>
            <div class="blog_content"><%= raw @main_blog.body %></div>
        </div>
    <% end %>
    <hr />
    <% unless @old_blog.nil? %>
        <div class="blog_section">
            <div class="blog_title">
                <div class="title_field"><%= @old_blog.title %></div>
                <div class="date_field"><%=  @old_blog.created_at.strftime "%D" %></div>
            </div>
            <div>
                <%= image_tag @old_blog.picture.url, class: "" %>
            </div>
            <div class="blog_content"><%= raw @old_blog.body %></div>
        </div>
    <% end %>
</div>