<div class="main">
    <h2>SOL BLOG</h2>
        <% @main_blogs.each do |blog| %>
            <div class="blog_section c-no-padding-bottom">
                <div class="blog_title">
                    <div class="title_field"><%= blog.title %></div>
                    <div class="date_field"><%=  blog.created_at.strftime "%D" %></div>
                </div>
                <div style="clear:both"></div>
                <div>
                    <%= image_tag blog.picture.url, class: "" %>
                </div>
                <div class="blog_content"><%= raw blog.body %></div>
                <br />
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <a href="http://instagram.com/mysimplesol" class="share_icon"   target="_blank" title="Share on Instagram">
                                <img src="/assets/share_instagram.jpg">
                            </a>
                            <a href="http://www.pinterest.com/thesimplesol"
                                 class="share_icon" target="_blank" title="Share on Pinterst">
                                <img src="/assets/share_pinterst.jpg">
                            </a>
                            <a href="http://twitter.com/thesimplesol" class="share_icon" 
                                target="_blank" title="Share on Twitter">
                                <img src="/assets/share_twitter.jpg">
                            </a>
                            <a href="http://www.facebook.com/thesimplesol" 
                                class="share_icon" target="_blank" title="Share on Facebook">
                                <img src="/assets/share_facebook.jpg">
                            </a>
                        </td>
                        <td class="c-vertical-middle">
                            <span>FOLLOW ON BLOG LOVIN'</span>
                        </td>
                        <td class="c-vertical-middle">
                            <a href="#comment_input" id="leave_comment" class="comment">LEAVE A COMMENT</a>
                            &nbsp;/&nbsp;
                            <a href="#comment_show" id="view_comment" class="comment"><%= blog.comments.count %> COMMENTS</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="comment_input" class="row" style="<%= 'display:none;' unless @comment_show %>" >
                <div class="col-sm-10 col-sm-offset-1">
                    <% blog.comments.each do |comment| %>
                        <div  class="c-comment-area">
                            <h3 class="c-comment-name"><%= comment.name %></h3>
                            <p><%= raw comment.comment %></p>
                        </div>
                    <% end %>
                </div>
                <br />
                <br />
                <div class="col-sm-8 col-sm-offset-2">
                    <a href="#" id="comment-form"></a>
                    <%= form_for :comment, url: post_comment_path(blog_id: blog.id, comment_show: true), method: :post do |f| %>
                        <div class="form-group">
                            <%= f.label(:name, 'NAME') %>
                            <%= f.text_field :name, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                            <%= f.label(:comment, 'COMMENT') %>
                            <%= f.text_area :comment, rows: 5, class: 'form-control' %>
                        </div>
                        <button type="submit" class="btn btn-default">SUBMIT</button>
                        <br />
                        <br />
                    <% end %>
                    <a href="#leave_comment" id="comment_hide"><img src="/assets/panel-up-big.png" style="opacity:0.5;" /></a>
                </div>
            </div>
            <div id="comment_show" class="row" style="display:none;" >
                <div class="col-sm-10 col-sm-offset-1">
                    <% blog.comments.each do |comment| %>
                        <div  class="c-comment-area">
                            <h3 class="c-comment-name"><%= comment.name %></h3>
                            <p><%= raw comment.comment %></p>
                        </div>
                    <% end %>
                    <a href="#" id="comment_hide1"><img src="/assets/panel-up-big.png" style="opacity:0.5;" /></a>
                </div>
            </div>
            <hr />
        <% end %>
        <div class="row text-center">
            <%= will_paginate @main_blogs, :previous_label => 'PREV',
                :next_label => 'NEXT', renderer: BootstrapPagination::Rails %>
        </div>
</div>