<div class="main">
    <div class="sol_blog_rising">SOL BLOG</div>
    <% unless @main_blog.nil? %>
        <div class="blog_section">
            <div>
                <%= image_tag @main_blog.picture.url, class: "" %>
            </div>
            <div class="blog_title">
                <%=  @main_blog.created_at.strftime "%D" + "  -  " + @main_blog.title %>
            </div>
            <div class="blog_content"><%= raw @main_blog.body %></div>
        </div>
    <% end %>
    <hr />
    <% unless @old_blog.nil? %>
        <div class="blog_section">
            <div>
                <%= image_tag @old_blog.picture.url, class: "" %>
            </div>
            <div class="blog_title">
                <%=  @old_blog.created_at.strftime "%D" + "  -  " + @old_blog.title %>
            </div>
            <div class="blog_content"><%= raw @old_blog.body %></div>
        </div>
    <% end %>
</div>