<div class="container">
<div>
    <div class="banner">
        <% if user_signed_in? %>
            <%= link_to locations_path do %>
                <%= image_tag 'logo.jpg', :class=>'banner_img' %>
            <% end %>
        <% else %>
            <%= link_to root_path do %>
                <%= image_tag 'logo.jpg', :class=>'banner_img' %>
            <% end %>
        <% end %>
    </div>
    <div class="menubar">
        <hr/><hr/>
        <div id="menu_small" class="menu_container">
            <ul class="nav nav-pills">
                <li>
                    <% if user_signed_in? %>
                        <%= link_to "SOL BLOG", blogs_path(type: Blog::BLOG_MAIN) %>
                    <% else %>
                        <%= link_to "SOL BLOG", solblog_path, class: "#{header_selected 'solblog'}" %>
                    <% end %>
                </li>
                <li class="menu_dot">&bull;</li>
                <li class="dropdown">
                    <a class="dropdown-toggle <%= header_selected 'destination' %>" data-toggle="dropdown" href="#"  >
                        DESTINATION<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <% @locations.each do |l| %>
                            <li>
                            <% if user_signed_in? %>
                                <%= link_to l.name.upcase, blogs_path(name: l.name) %>
                            <% else %>
                                <%= link_to l.name.upcase, destination_path(name: l.name) %>
                            <% end %>
                            </li>
                        <% end %>
                    </ul>
                </li>
                <li class="menu_dot">&bull;</li>
                <li>
                    <% if user_signed_in? %>
                        <%= link_to "MY SOL", blogs_path(type: Blog::BLOG_MYSOL) %>
                    <% else %>
                        <%= link_to "MY SOL", mysol_path, class: "short_title #{header_selected 'mysol'}" %>
                    <% end %>
                </li>
                <li class="menu_dot">&bull;</li>
                <li>
                    <%= link_to "TRAVEL CONSULTANT", travel_path, class: "long_title #{header_selected 'travel'}" %>
                </li>
            </ul>
        </div>
        <hr/>
        <hr/>
    </div>

    <div class="web_links">
        <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <% else %>
            <a href="http://instagram.com/mysimplesol" class="share_icon" target="_blank" title="Connecting on Instagram">
                <img src="/assets/share_instagram.jpg">
            </a>
            <a href="http://www.pinterest.com/thesimplesol" class="share_icon" target="_blank" title="Connecting on Pinterst">
                <img src="/assets/share_pinterst.jpg">
            </a>
            <a href="http://twitter.com/thesimplesol" class="share_icon" target="_blank" title="Connecting on Twitter">
                <img src="/assets/share_twitter.jpg">
            </a>
            <a href="http://www.facebook.com/thesimplesol" class="share_icon" target="_blank" title="Connecting on Facebook">
                <img src="/assets/share_facebook.jpg">
            </a>
            <a href="#" class="share_icon" target="_blank" title="Connecting on Google">
                <img src="/assets/share_google.jpg">
            </a>
            <a href="#" class="share_icon" target="_blank" title="Connecting on SoundCloud">
                <img src="/assets/share_soundcloud.jpg">
            </a>
        <% end%>
    </div>

</div>
</div>